<head>
    <meta name="robots" content="noindex" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
<div style="text-align: center">
    ADMIN LOGIN
</div>
<form method="POST" action="/adminPanel" enctype="multipart/form-data" style="width: 310px;margin: 0 auto">
    <div style="width: 100%; margin: 30px 0 20px 10px">
        <label>USERNAME : </label>
        <input type="text" name="username" required>
    </div>
    <div style="width: 100%; margin: 20px 0 20px 10px">
        <label>PASSWORD : </label>
        <input type="password" name="pass" required>
    </div>
    <div style="float: right; margin-right: 34px "><button id="submit">LOGIN</button></div>
</form>
</body>